<div class="container">
  
 

  <label for="">Search : </label> 
 <input type="search" placeholder="search here" [(ngModel)] = " searchValue">

      <div class="row ">
          <div class="col-3" *ngFor="let singleMovie of filterMovies "> 
          <div class="card "  >
              <!-- <img class="card-img-top" [src]= '"https://image.tmdb.org/t/p/w500"+singleMovie.poster_path' alt="Card image" style="width:100%"> -->
              <div class="card-body">
              
                <h4 class="card-title"> {{singleMovie.title}}</h4>
              <app-movie-rating [rating] = "singleMovie.rating"></app-movie-rating>
                <p class="card-text" *ngIf="singleMovie.isVisiable"> {{singleMovie.overview}}</p>
             
                <br>
             
                <!-- <button href="#" class="btn btn-primary" (click)="toggleDate(singleMovie.id)"> {{singleMovie.isVisiable? 'Hide':'Show'}} Details</button> -->
              </div> 
            </div> 
          </div>
      
        </div>
  </div>
  